{
  "env": {
    "es6" : true,
    "node" : true,
    "browser" : true
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi" : [2 , "never"],
    "key-spacing" : [2, {
      "beforeColon" : true,
      "afterColon" : true,
    }],
    "no-unused-vars": [1, {"vars" : "all", "args" : "after-used"} ]
  }
}
